@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  color: rgb(59, 130, 246);
}

@layer base {
    body{
      font-family: 'Fira Sans Condensed', sans-serif;
    }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
 .logo {
    animation: logo-spin infinite 7s linear;
  }
}

.animation-two {
  animation: upDown 3s linear infinite;
}
@keyframes upDown {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(-50px);
    }
}
